<html lang="zh-Hant-TW">
<head>
    <title>WebSocket Client Demo</title>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.0/vue.min.js' integrity='sha512-ZjkdNWvVA3C4ZhiL2HoYnUVHB0cLCJwQl/YU5IXgmVSGSsLhpBg5rAIiltBeEpjjNcmxb2F4nePSh1O91J0FCg==' crossorigin='anonymous'></script>
</head>
<body>
<div id="app">
    <h3>Chat</h3>

    <div>
        <p v-if="isJoinChannel">
            <label>{{ currentUser }}：
                <input v-model="words" v-on:keypress.enter="sendMessage"/>
            </label>
            <input type="button" value="Send" v-on:click="sendMessage">
            <input type="button" value="Leave" v-on:click="leaveChat">
        </p>
        <p v-else>
            <input v-model="user" placeholder="請輸入使用者名稱"/>
            <input type="button" value="Join" v-on:click="joinChat">
        </p>
    </div>

    <p>
        Status : {{ chatStatus }}<br/>
        Revice count : {{ chatCount }}<br/>
    </p>

    <ul>
        <li v-for="message in chatMessage">
            {{ message}}
        </li>
    </ul>

</div>

<script>
    new Vue({
        el: '#app',
        data: {
            words: '',
            user: 'demoUser',
            currentUser: null,
            WS_Uri: 'ws://localhost:55688/',
            channels: {},
            chatStatus: null,
            chatCount: 0,
            chatMessage: [],
        },
        computed: {
            isJoinChannel() {
                return !!this.currentUser
            }
        },
        methods: {
            sendMessage() {
                if (!this.words) return
                this.channels[this.currentUser].send(this.words)
                this.words = null
            },
            leaveChat() {
                if (this.channels[this.currentUser]) {
                    this.channels[this.currentUser].close()
                    this.channels[this.currentUser] = null
                    this.chatStatus = 'Disconnected'
                    this.currentUser = null
                }
            },
            joinChat() {
                this.currentUser = this.user

                let websocket = new WebSocket(`${this.WS_Uri}Chat?name=${(this.currentUser)}`);
                websocket.binaryType = 'arraybuffer'

                //會話建立後事件
                websocket.onopen = (evt) => {
                    this.chatStatus = 'Connected'
                    this.chatMessage = []
                    if (!this.chatCount) this.chatCount = 0

                };
                //會話結束後事件
                websocket.onclose = (evt) => {
                    this.chatStatus = 'Disconnected'
                };
                //接收到訊息後事件
                websocket.onmessage = (evt) => {
                    this.chatCount = this.chatCount + 1
                    this.chatMessage.push(evt.data)
                };
                //發生錯誤後事件
                websocket.onerror = (evt) => {
                    this.chatStatus = evt.data
                };

                this.channels[this.currentUser] = websocket
            },
        }
    })
</script>
</body>
</html>